#countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap:10px;
}


.country{

    background-color: rgb(7, 129, 236);
    color: rgb(237, 247, 243);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid rgb(26, 103, 139);
}

